body {
    color:rgb(68, 13, 119);
    background-color: rgb(229, 202, 255);
    font-family: Verdana;
    margin: 0;
}

main { 
    margin: auto;
    margin-top: 3%;
    width: 90%;
    padding: 10px;
    background-color: hsl(268, 90%, 62%);
    color: white;
    border: 2px solid rgb(81, 21, 247);
    border-radius: 25px;
    /*text-align: center;*/
}