body {
    color:rgb(83, 150, 100);
    background-color: rgb(229, 226, 226);
    font-family: Verdana;
    margin: 0;
}

.signupLogin { 
    margin: auto;
    margin-top: 3%;
    width: 90%;
    padding: 10px;
    /* background-color: hsl(145, 63%, 33%);
    color: white;
    border: 2px solid rgb(21, 247, 123);
    border-radius: 25px; */
    /*text-align: center;*/
}

.login.section {
    background-color: hsl(145, 63%, 33%);
    color: white;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 25px;
    margin-top: 2%;

}

button.signup {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 10px;
    background-color: hsl(145, 63%, 33%);
    color: white;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 25px;
}

button:hover.signup {
    background-color: rgb(240, 255, 244);
    color: hsl(145, 63%, 33%);
    border: 2px solid hsl(145, 63%, 33%);
}


.login {
    text-align: center;
}

.title.login {
    margin-top: 4%;
}


.login  h2 {
    text-align: center;
    font-size: 30px;
}

a.forgot {
    text-align: center;
}